#!/bin/sh

# Increase keyboard speed
xset r rate 300 50 & 

# TODO Remove and/or make dwm-specific autostart
# dwm-statusbar &																		

set-xwallpaper &

# Download daily wallpaper from bing
bing-wallpaper &

# Why would anyone want numlock off?
numlockx on &

# Easy eyes
redshift -c ~/.config/redshift/redshift.conf &

# Compositing
xcompmgr -c &

# Citation: "Useless key in top-position". Make Caps-Lock to Escape
setxkbmap -option caps:escape 

# Hide cursor after 2 seconds idle-time
unclutter --timeout 2 &

# Enable X-keybindings
pgrep -x sxhkd > /dev/null || sxhkd &
